
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}
.glow {
  box-shadow: 0 0 5px theme('colors.indigo.500'), 0 0 10px theme('colors.indigo.500'), 0 0 15px theme('colors.indigo.500');
}
.ai-chat-bubble p {
  margin: 0;
}
.ai-chat-bubble ul,
.ai-chat-bubble ol {
  list-style-position: inside;
  padding-left: 1rem;
}
.ai-chat-bubble pre {
  background-color: #1e1e1e;
  padding: 0.75rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-size: 0.875rem;
}
.ai-chat-bubble code {
  font-family: monospace;
}
